<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- HEAD -->
<th:block th:replace="households/_head.html"></th:block>

<body>

	<div class="wrapper">
	

		<!-- MAIN HEADER -->
		<th:block th:replace="partials/header/_header.html"></th:block>

		<!-- SIDEBAR -->
		<th:block th:replace="partials/sidebar/_sidebar.html"></th:block>
		

		<div class="main-panel">

			<!-- STEETS DATATABLE AND FORM -->
			<div class="content">
				<th:block th:replace="households/household_datatable.html"></th:block>
				<th:block th:replace="households/household_form.html"></th:block>
			</div>
			<!-- FOOTER -->
			<th:block th:replace="partials/footer/_footer.html"></th:block>

		</div>
	</div>
	<!-- SCRIPTs -->
	<th:block th:replace="households/_footer_js.html"></th:block>
</body>
</html>