<div class="input-group-append">
	<button class="btn btn-primary btn-border dropdown-toggle"
		type="button" data-toggle="dropdown" aria-haspopup="true"
		aria-expanded="false" th:text="${household.patrons[0].name}" >Славе</button>
	<div class="dropdown-menu">
		<div class="user-box" th:each="patron: ${household.patrons}">
			<div class="avatar avatar-sm">
				<img src="/assets/img/profile.jpg" alt="image profile"
					class="avatar-img rounded-circle">
			</div>
			<div class="u-text">
				<h4 th:text="${patron.name}"></h4>
				<p th:text="${#dates.format(patron.celebration, 'dd.MMMM')}"
					class="text-muted"></p>

			</div>
			<button type="button" data-toggle="tooltip" title=""
				class="btn btn-link btn-danger" data-original-title="Remove">
				<i class="fa fa-trash"></i>
			</button>
		</div>


		<div role="separator" class="dropdown-divider"></div>

		<a class="dropdown-item" href="#">
			<button class="btn btn-primary btn-xs">Додај славу</button>
		</a>
	</div>
</div>